#  just rename it .env and fill in the values# server/.env
PORT=8000
SERVER_URL=http://localhost:8000
VITE_API_URL=http://localhost:8000


CLIENT_URL=http://localhost:5173


PYTHON_BIN=py
TRANSCRIPT_LANGS=en,en-US,en-GB,en-IN,hi



MONGO_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


SESSION_SECRET=
#  just rename it .env and fill in the values# server/.env
PORT=8000
SERVER_URL=http://localhost:8000
VITE_API_URL=http://localhost:8000


CLIENT_URL=http://localhost:5173


PYTHON_BIN=py
TRANSCRIPT_LANGS=en,en-US,en-GB,en-IN,hi



MONGO_URI=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


SESSION_SECRET=

NODE_ENV=development


YOUTUBE_API_KEY=

SUMMARY_API_KEY=
QUIZ_API_KEY=